html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#choropleth_map, #line_chart {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%; /* Adjust this if you want different proportions */
	width: 100%;
}

#line_chart {
	top: 50%; /* Position the line chart below the choropleth map */
}
